# Dependencies
/node_modules/

# Build output
/dist/
/build/
/.next/       # Next.js
/out/         # Vite/Next.js static export

# Cache
/.cache/
/.sass-cache/
*.css.map     # CSS sourcemaps

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db
