@font-face {
    font-family: 'NF Pixels';
    src: url('fonts/NFPixels-Regular.eot');
    src: url('fonts/NFPixels-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/NFPixels-Regular.woff2') format('woff2'),
        url('fonts/NFPixels-Regular.woff') format('woff'),
        url('fonts/NFPixels-Regular.ttf') format('truetype'),
        url('fonts/NFPixels-Regular.svg#NFPixels-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container--0- {
  position: absolute;
  left: -214px;
  top: 0px;
  width: 1440px;
  height: 1440px;
  background-color: #212226;
  justify-content: start;
  align-items: start;
}
.text-0-1-1 {
  width: 314px;
  height: 77px;
  color: #ffffff;
  font-size: 64px;
  font-family: NF Pixels, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.text-0-1-2 {
  width: 600px;
  height: 29px;
  color: #ffffff;
  font-size: 24px;
  font-family: NF Pixels, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-0-1-3 {
  position: relative;
  width: 1160px;
  height: 360px;
  justify-content: start;
  align-items: start;
  display: flex;
}
.container-1-2-0 {
  position: relative;
  width: 360px;
  height: 360px;
  justify-content: start;
  align-items: start;
  gap: 10px;
  display: flex;
}
.container-2-3-1 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
  display: flex;
  padding: 15px 15px 15px 15px;
}
.container-3-4-0 {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 330px;
  height: 57.5px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.text-4-5-0 {
  width: 301px;
  height: 38px;
  color: #ffffff;
  font-size: 32px;
  font-family: NF Pixels, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}