:root {
  --responsive-device-width: 1200px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-responsive-mode="desktop">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-responsive-mode="desktop"] {
  --responsive-device-width: 1200px;
}

[data-responsive-mode="mobile"] {
  --responsive-device-width: 375px;
}

[data-responsive-mode="tablet"] {
  --responsive-device-width: 768px;
}
